/*universal selector*/
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;


  /*
    color: #7ed56f;
    color: #28b485;
  */
}


html{
    /*this define 1rem*/
    font-size: 62.5%;/*this percantage is to take ratio from the user font size*/

    background-image:url(../images/hero3.jpg);
    background-size: cover;
    background-position: top;/* what ever the width of the view port it will allways at the top of the view port */
    background-repeat: no-repeat;

}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .7;
    overflow: hidden; 
}
.bg-video__content {
      height: 100%;
      width: 100%;
      object-fit: cover; 
}

body{

    box-sizing: border-box;

  
}
 

.header{

    height: 5rem;
    width: 200vh;

    border-radius: 1rem;

    background: rgba(245, 222, 179,.5);

    text-align: left;

    position: fixed;
    top: 1.3rem;
    left: 1rem;

}

.header-image{

    width: 5rem;
    height: 5rem;

    position: fixed;
    top: 1.1rem;
    left: 2rem;

}


form{

    padding: 2rem 4rem 2rem 8rem;

    background-color: rgba(245, 222, 179,.4);

    border-radius: 2rem;

    font-size: 2rem;

    z-index: 10;

    color: black;

    text-align: center;

    position: absolute;
    top: 9rem;
    left: 5rem;

}

.form-sign_up-second_name-span{

    position: relative;
    left: 2rem;
}

.form-sign_up-email-span{

    position: relative;
    left:-13.4rem;
}

.form-sign_up-email-span{

    position: relative;
    left:-13.4rem;
}

.form-sign_up-password-span{

    position: relative;
    left:-15rem;

}

.form-sign_up-confirm_password-span{

    position: relative;
    left:-18.5rem;

}


.btn{

    background-color: #fff;
    color: #777; 

    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;

}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}




.footer{

    height: auto;
    width: 200vh;

    font-size: 2rem;

    margin: 1rem 2rem;
    padding: 1rem 2rem;
    
    background: rgba(245, 222, 179,.6);

    border-radius: 2rem;

    position: fixed;
    top: 55rem;
    left: -1rem ;

}


.footer__copyright .footer--link{
    color: navy;
}


.footer__copyright .footer--link:active{
    color: red;
}