/*universal selector*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*
    color: #7ed56f;
    color: #28b485;
  */ }

html {
  /*this define 1rem*/
  font-size: 10px;
  /*this percantage is to take ratio from the user font size*/ }

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

legend {
  color: gold;
  font-size: 2.5rem; }

@keyframes from_right_to_left {
  0% {
    opacity: 0;
    transform: translateX(30rem); }
  90% {
    transform: translateX(-5rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes flash {
  0% {
    opacity: 1; }
  10% {
    opacity: 0; }
  20% {
    opacity: 1; }
  30% {
    opacity: 0; }
  40% {
    opacity: 1; }
  50% {
    opacity: 0; }
  60% {
    opacity: 1; }
  70% {
    opacity: 0; }
  80% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes from_left_to_right {
  0% {
    opacity: 0;
    transform: translateX(-30rem); }
  90% {
    transform: translateX(5rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes from_up_to_down {
  0% {
    transform: translateY(0rem); }
  50% {
    transform: translateY(25rem); }
  100% {
    transform: translateY(0rem); } }

.money_spent {
  font-weight: bold;
  text-align: center;
  padding: 2rem;
  height: 43%;
  width: 43%;
  background-color: rgba(245, 222, 179, 0.4);
  border-radius: 2rem;
  position: absolute;
  top: 25%;
  left: 28%; }
  .money_spent-first_line {
    color: black;
    font-size: 4rem;
    position: relative;
    left: -.5rem;
    animation: from_right_to_left;
    animation-duration: 5s;
    backface-visibility: hidden;
    /*to prevent shake of the chars when its animated*/ }
    .money_spent-first_line-user_name {
      color: red; }
  .money_spent-second_line {
    color: gold;
    font-size: 10rem;
    animation: flash;
    animation-duration: 5s;
    backface-visibility: hidden;
    /*to prevent shake of the chars when its animated*/
    position: relative;
    left: 0rem;
    top: 1rem; }
  .money_spent-third_line {
    color: black;
    font-size: 4rem;
    animation: from_left_to_right;
    animation-duration: 5s;
    backface-visibility: hidden;
    /*to prevent shake of the chars when its animated*/
    position: relative;
    left: 0rem;
    top: 3rem; }

.message-welcome {
  color: white;
  text-align: center;
  position: absolute;
  top: 7.5rem;
  left: 38rem;
  font-size: 5rem;
  font-weight: bold;
  animation: from_left_to_right;
  animation-duration: 5s;
  backface-visibility: hidden;
  /*to prevent shake of the chars when its animated*/ }

.message-session {
  height: 10rem;
  width: 50rem;
  font-size: 3rem;
  text-align: center;
  position: absolute;
  top: .7rem;
  left: 3.5rem; }
  .message-session-span {
    padding: 1.5rem;
    background-color: gold;
    border-radius: 1.5rem;
    position: relative;
    left: -.3rem;
    text-transform: uppercase;
    animation: flash;
    animation-duration: 5s;
    backface-visibility: hidden;
    /*to prevent shake of the chars when its animated*/ }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 1;
  overflow: hidden; }

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.btn {
  background-color: #fff;
  color: #777;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }
  .btn-list {
    margin: 0rem 0rem  5rem 5rem;
    position: absolute;
    left: 37rem;
    bottom: 4rem; }
    .btn-list-page_number {
      font-size: 3rem;
      margin: 2rem;
      padding: 1rem 2rem 1rem 2.5rem;
      text-align: center; }
      .btn-list-page_number-selected {
        color: white;
        background-color: rgba(245, 222, 179, 0.4);
        padding: .5rem;
        font-weight: bold;
        font-size: 3.5rem; }
      .btn-list-page_number-link {
        color: gold;
        padding: .5rem; }
  .btn-action {
    position: relative;
    text-align: center; }
    .btn-action-edit {
      position: absolute;
      top: -1.7rem;
      left: 2rem; }
      .btn-action-edit-image {
        height: 3rem;
        width: 3rem; }
      .btn-action-edit:hover {
        background-color: rgba(245, 222, 179, 0.4); }
    .btn-action-delete {
      position: absolute;
      top: -1.5rem;
      left: 8rem; }
      .btn-action-delete-image {
        height: 3rem;
        width: 3rem; }
      .btn-action-delete:hover {
        background-color: rgba(245, 222, 179, 0.4); }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.form-sign_in {
  color: black;
  background-color: rgba(245, 222, 179, 0.4);
  border-radius: 2rem;
  height: 55%;
  width: 30%;
  padding: 2rem;
  position: absolute;
  top: 15rem;
  left: 45rem;
  font-size: 2rem;
  text-align: center; }

.form_add_expense {
  color: black;
  background-color: rgba(245, 222, 179, 0.4);
  border-radius: 2rem;
  width: 30%;
  position: relative;
  top: 7rem;
  left: 42rem;
  margin: 2rem;
  padding: 2rem 4rem 8rem 4rem;
  font-size: 2rem; }
  .form_add_expense-name {
    position: relative;
    top: -2rem;
    left: 1rem;
    padding: 1rem; }
  .form_add_expense-price {
    position: relative;
    left: 1.6rem;
    top: -2rem;
    padding: 1rem; }
  .form_add_expense-category {
    padding: 1rem;
    position: relative;
    left: -3rem;
    top: -2rem; }
  .form_add_expense-category-menu {
    position: relative;
    left: 1rem;
    top: 0rem;
    width: 18rem;
    text-align: center; }
  .form_add_expense-comment {
    padding: 1rem;
    position: relative;
    left: -2.5rem;
    top: -2rem; }
  .form_add_expense-date {
    padding: 1rem;
    position: relative;
    left: 1.9rem;
    top: -2rem; }
  .form_add_expense-cancel {
    position: absolute;
    top: 36rem;
    left: 2rem; }
  .form_add_expense-submit {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 35rem;
    left: 22rem; }

.form_edit_expense {
  color: black;
  background-color: rgba(245, 222, 179, 0.4);
  border-radius: 2rem;
  width: 30%;
  position: relative;
  top: 7rem;
  left: 42rem;
  margin: 2rem;
  padding: 2rem 4rem 8rem 4rem;
  font-size: 2rem; }
  .form_edit_expense-name {
    position: relative;
    top: -2rem;
    left: 1rem;
    padding: 1rem; }
  .form_edit_expense-price {
    position: relative;
    left: 1.6rem;
    top: -2rem;
    padding: 1rem; }
  .form_edit_expense-category {
    padding: 1rem;
    position: relative;
    left: -3rem;
    top: -2rem; }
  .form_edit_expense-category-menu {
    position: relative;
    left: 1rem;
    top: 0rem;
    width: 18rem;
    text-align: center; }
  .form_edit_expense-comment {
    padding: 1rem;
    position: relative;
    left: -2.5rem;
    top: -2rem; }
  .form_edit_expense-date {
    padding: 1rem;
    position: relative;
    left: 1.9rem;
    top: -2rem; }
  .form_edit_expense-cancel {
    position: absolute;
    top: 36rem;
    left: 2rem; }
  .form_edit_expense-submit {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 35rem;
    left: 22rem; }

.form-sign_up {
  color: black;
  background-color: rgba(245, 222, 179, 0.4);
  border-radius: 2rem;
  height: 40rem;
  width: 80rem;
  font-size: 2rem;
  position: relative;
  top: 10rem;
  left: 25rem; }
  .form-sign_up-first_name {
    position: absolute;
    left: 9.5rem;
    top: 7rem; }
  .form-sign_up-second_name {
    position: absolute;
    left: 44rem;
    top: 7rem; }
  .form-sign_up-email {
    position: absolute;
    left: 14.3rem;
    top: 11rem; }
  .form-sign_up-password {
    position: absolute;
    left: 10.5rem;
    top: 15rem; }
  .form-sign_up-confirm_password {
    position: absolute;
    left: 3rem;
    top: 19rem; }
  .form-sign_up-not_robot {
    position: absolute;
    left: 30rem;
    top: 23rem; }
  .form-sign_up-terms_of_conditions {
    position: absolute;
    left: 20rem;
    top: 27rem; }
  .form-sign_up-submit {
    position: absolute;
    left: 30rem;
    top: 31rem; }

.form-add_back_ground {
  color: black;
  background-color: rgba(245, 222, 179, 0.4);
  border-radius: 2rem;
  height: 35rem;
  width: 40rem;
  font-size: 2rem;
  position: relative;
  top: 13rem;
  left: 45rem; }
  .form-add_back_ground-choose_file {
    position: absolute;
    top: 7rem;
    left: 9.5rem; }
  .form-add_back_ground-caption {
    position: absolute;
    top: 12rem;
    left: 2rem; }
  .form-add_back_ground-add_btn {
    position: absolute;
    top: 20rem;
    left: 12.5rem; }
  .form-add_back_ground-cancel_btn {
    position: absolute;
    top: 27rem;
    left: 12rem; }

.table-expenses {
  height: 5%;
  width: 80%;
  position: absolute;
  top: 10rem;
  left: 12rem;
  font-size: 3rem;
  text-align: center;
  background-color: rgba(245, 222, 179, 0.4);
  border-radius: 2rem;
  padding: 2rem; }
  .table-expenses-body-raw:hover {
    background-color: black;
    color: white; }

tbody {
  font-size: 2rem;
  background-color: rgba(245, 222, 179, 0.4);
  text-align: center;
  border-radius: 2rem; }

td {
  border-radius: .5rem;
  padding: 1rem; }

footer {
  height: auto;
  width: 95%;
  font-size: 1.3rem;
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  background: rgba(245, 222, 179, 0.6);
  border-radius: 2rem;
  position: absolute;
  bottom: 0rem; }
  footer__copyright footer--link {
    color: navy; }
  footer__copyright footer--link:active {
    color: red; }

header {
  height: 7%;
  width: 95%;
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background: rgba(245, 222, 179, 0.6);
  text-align: left;
  position: absolute;
  top: 1.3rem;
  left: 1rem; }
  header .header-image {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 0rem;
    left: 2rem;
    z-index: 2; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-image: linear-gradient(90deg, gold 0%, gold 100%);
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: -.3rem;
  right: 5rem;
  border-radius: 50%;
  z-index: 200;
  text-align: center;
  cursor: pointer;
  box-shadow: 0rem  0rem 2rem 0rem   black; }

.navigation__background {
  /*background*/
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: absolute;
  top: -.3rem;
  right: 5rem;
  background-image: radial-gradient(rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  z-index: 100;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__icon {
  position: absolute;
  top: 2rem;
  right: 1.3rem;
  font-weight: bold; }

.navigation__nav {
  /*menu*/
  height: 100%;
  width: 0;
  position: fixed;
  top: -1rem;
  left: -50rem;
  z-index: 150;
  opacity: 0;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 2rem; }

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(125deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all .4s; }

.navigation__link:hover,
.navigation__link:active {
  color: #7ed56f;
  background-position: 100%;
  transform: translateX(2rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(60); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.search_box {
  height: 80%;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  background: rgba(245, 222, 179, 0.6);
  padding: 0rem 1rem; }
  .search_box-text {
    height: 80%;
    width: 70%;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 1.6rem;
    transition: .4s;
    line-height: 4rem;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    top: .3rem;
    left: 10%; }
  .search_box-img {
    position: absolute;
    top: .5rem;
    left: 87%;
    height: 2.5rem;
    width: 2.5rem; }
  .search_box-btn {
    float: right;
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    background: rgba(245, 222, 179, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    display: none; }

.search_box:hover > .search_box-text {
  width: 70%;
  padding: 0 .6rem; }

.search_box:hover > .search_box-btn {
  background: rgba(245, 222, 179, 0.6); }

.not_available {
  position: relative; }
  .not_available-image {
    height: 35rem;
    width: 90rem;
    position: absolute;
    top: 15rem;
    left: 20rem; }
