footer{

    height: auto;
    width: 95%;

    font-size: 2rem;

    margin: 1rem 2rem ;
    padding: 1rem 2rem ;
    
    background: rgba(245, 222, 179,.6);

    border-radius: 2rem;

    position: absolute;
    bottom: 0rem;

    &__copyright &--link{
        color: navy;
    }
    
    
    &__copyright &--link:active{
        color: red;
    }
}


