.search_box{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1rem;
    background: rgba(245, 222, 179,.6);
    padding: 0rem 1rem;

    &-text{

        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: black;
        font-size: 1.6rem;
        transition: .4s;
        line-height: 4rem;
        // width: 0rem;
        width: 24rem;

        text-align: center;

        
    }

    &-img{

        position: relative;
        top: .8rem;
        left: 0rem;
        height: 2.5rem;
        width: 2.5rem;

    }


    &-btn{
        float: right;
        width: 4rem;
        height: 4rem;
        border-radius: 1rem;
        background: rgba(245, 222, 179,.6);
        display: flex;
        justify-content: center;
        align-items: center;

        transition: .4s;

        display: none;

    }
    // &-submit{
    //     height: 3.5rem;
    //     width: 25rem;
    
    //     padding: 1rem ;
    
    //     border-radius: 1rem;
    //     font-size: 1.5rem;
    //     background: rgba(245, 222, 179,.6);
    //     text-align: center;

    // }
}


.search_box:hover > .search_box-text{

    width: 24rem;
    padding: 0 .6rem;
}


.search_box:hover > .search_box-btn{

    background: rgba(245, 222, 179,.6);
}