.btn{

    background-color: #fff;
    color: #777; 

    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;

    &-list{
        margin: 0rem 0rem  5rem 5rem;

        position: absolute;
        left: 37rem;
        bottom: 4rem;

        &-page_number{

            // background-color: rgba(245, 222, 179,.4);
            font-size: 3rem;
            margin: 2rem;
            padding: 1rem 2rem 1rem 2.5rem;

            text-align: center;
        }
    }


    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
}

