.expenses_table{

    height: 5%;
    width: 80%;
    
    position: absolute;
    top: 10rem;
    left: 10rem;

    font-size: 3rem;

    text-align: center;

    background-color: rgba(245, 222, 179,.4);

    border-radius: 2rem;

    
    padding: 2rem;
}


tbody{

    font-size: 2rem;

    background-color: rgba(245, 222, 179,.4);

    text-align: center;

    border-radius: 2rem;


}

td{
    border-radius: .5rem;

    padding: 1rem;
}